.name{
	margin-right: 2%;
	background-color: rgba(220, 20, 60, .8);
	padding: 6px;
	border-radius: 10px;
	color: #ffd735;
	font-weight: 650;

}
input{
	width: 40%;
	border-radius: 10px;
}
form{
	margin-top: 4vh;
}