.title{
	font-size: 2.3em;
	font-weight: 650;
	color: #1c1c1c;
	margin-top: 30px;
}
.comm{
	padding: 6px;
	border-radius: 10px;
	display: inline-block;
}
.client{
background-color: #ffffff;
border-radius: 10px;
margin-right: 2%;
border-color: #1c1c1c;
border-width: thick;
}