.header {
    background: #43414C;
    color: #fff;
    padding: 10px;
}
.order {
    float: right;
    color: #fff;
}
.items {
    background-color: #f4f4f4;
    padding: 5px;
    border-bottom: 1px #ccc dotted;
    width: 48.5%;
}
.options {
    cursor: pointer;
    background: #FF9D57;
    text-transform: uppercase;
}
.icons {
    width: 80px;
    height: auto;
}
.pointer {
    cursor: pointer;
}
.btn-add {
    border-radius: 50%;
    background-color: none;
    border: none;
}
