.App {
  text-align: center;
  background-image: url(./img/burger.jpg);
  background-repeat: repeat;
  max-height: 100%;
  width: 100%;
  border: none
  /* background-color: aqua */
}
 .App-header { 
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;*/
} 
.image{
  background-color: rgba(252, 252, 252, 0.829);

}
 /* .column{
margin: 1%
}  */

.common{
  display: inline-block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
